{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block menu %}
<a class="nav-link px-lg-3 py-3 py-lg-4" href="sign/logout/">{% trans "Go out" %}</a>
{% endblock %}

{% block content %}
<h2>{% trans "Authorized User Page " %}{{request.user.username}}</h2>
{% if is_not_author %}
    <div class="d-flex justify-content-center mb-4"><a class="btn btn-dark text-uppercase" href="sign/upgrade/">{% trans "Become an author!" %}</a></div>
    <p>{% trans "Authors can add their articles/news, as well as edit them" %}</p>
{% endif %}    
<div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'news_list' %}">{% trans "Go to all articles" %}</a></div>

{% endblock %}