{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% block title %}
{{ news.title }}
{% endblock title %}
 
{% block content %}
    <h1>{% trans "Create an article" %}</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <p><label>{% trans "Date" %}{{ form.date }}</label></p>
        <p><label>{% trans "Author" %}{{ form.author }}</label></p>
        <p><label>{% trans "Type" %}{{ form.type }}</label></p>
        <p><label>{% trans "Category" %}{{ form.category }}</label></p>
        <p><label>{% trans "Title" %}{{ form.title }}</label></p>
        <p><label>{% trans "Text" %}{{ form.text }}</label></p>
        <p><label>{% trans "Rating" %}{{ form.rating }}</label></p>
        <br>
        {% if request.path == '/news/add/'%}
        <div class="d-flex justify-content-center mb-4"><input class="btn btn-primary text-uppercase" type="submit" value="{% trans 'Add an article' %}"></div>
        {% else %}
        <div class="d-flex justify-content-center mb-4"><input class="btn btn-primary text-uppercase" type="submit" value="{% trans 'Save the article' %}"></div>
        {% endif %}
    </form>

{% endblock content %}