{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Статьи
{% endblock title %}
 
{% block content %}
    <h1>Вы действительно хотите удалить статью?</h1>
    <hr>
        <div>
            <h2>{{ news.title}}</a></h2>
            <p><i>{{ news.date|date:'d M Y' }}</i></p>
            <h4>{{ news.text|truncatechars:50}}</h4>
        </div>
    <form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center mb-4"><input class="btn btn-danger text-uppercase" type="submit" value="Удалить"></div>
    </form>
{% endblock content %}