{% load i18n %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'news_list' %}">{% trans "Articles" %}</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'search' %}">{% trans "Search by articles" %}</a></li>
                <li class="nav-item">{% block menu %}<a class="nav-link px-lg-3 py-3 py-lg-4" href="/">{% trans "Registration/log in" %}{% endblock %}</a></li>
                <li class="nav-item">    
                    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
                        <input type="hidden" name="next" value="{{ redirect_to }}">
                        
                        <select name="language" id="">
                            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->
                
                            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                    {{ language.name_local }} - {{ language.code }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="set">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/bootstrap/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{% trans "NewsPortal" %}</h1>
                    <span class="subheading"><a class="text-white" href="{% url 'news_add' %}">{% trans "Create you post!" %}</a></span>
                </div>
            </div>
        </div>
    </div>
</header>